.affiliate-container {
margin-top: 2vh;
height: 9vh;
display: flex;
padding-bottom: 5px;
border-bottom: 5px solid rgb(var(--nav-background-color-normal));
}

.affiliate-picture {
	margin-top: auto;
	margin-bottom: auto;
	max-height: 8vh;
	max-width: 8vh;
}

.affiliate-picture img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.affiliate-title {
	padding-left: 2vw;
	margin-top: auto;
	margin-bottom: auto;
}

.affiliate-container:hover {
transition: .3s;
border-bottom: 5px solid;
border-bottom-color: rgb(var(--nav-background-color-hover));
}

.link_bar {
	display: flex;
	justify-content: space-evenly;
	border-color: rgb(var())
}

.link_bar a {
	display: flex;
	justify-content: space-evenly;
	width: 25%;
	border: 1px solid rgb(var(--primary-border-color));
	background-color: rgb(var(--nav-background-color-normal));
	padding-top: 20px;
	padding-bottom: 20px;
}

.link_bar a:hover {
	background-color: rgb(var(--nav-background-color-hover));
	border: 1px solid rgb(var(--nav-link-hover-color));
}

.link_bar a.Active {
	display: flex;
	justify-content: space-evenly;
	width: 25%;
	background-color: rgb(var(--nav-background-color-hover));
	border: 1px solid rgb(var(--nav-link-hover-color));
	padding-top: 20px;
	padding-bottom: 20px;
}