/* Calendar Styles */

.calendar-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar {
	margin-top: 2.5vh;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 15px;
	background-color: rgba(var(--content-box-background-color), 0.667);
	border: 1px solid rgb(var(--primary-border-color));
}

.calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.calendar-header button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	background-color: rgb(var(--nav-background-color-normal));
	color: rgb(var(--nav-link-color));
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: 1px solid rgb(var(--primary-border-color));
}

.calendar-header button:hover {
	transition: .3s;
	background-color: rgb(var(--nav-background-color-hover));
	border: 1px solid rgb(var(--nav-link-hover-color));
	color: rgb(var(--nav-link-hover-color));
}

.monthYear, .prevBtn, .nextBtn {
	font-size: clamp(1.25rem, 1.5vw + 0.25rem, 2.25rem);
}

.calendar-days {
	font-size: clamp(1.125rem, 1vw + 0.25rem, 2rem);
	display: grid;
	grid-template-columns: repeat(7,1fr);
	text-align: center;
	padding: 5px;
}

.calendar-dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.date {
	border-style: solid;
	color: rgb(var(--calendar-active-date));
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: rgba(var(--nav-background-color-normal), 0.667);
}

.calendarnumber {
	font-size: 2vh;
}

.event-note {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.date a {
	margin: auto;
	font-size: clamp(1rem, 1vw + 0.125rem, 1.75rem);
}

.date.inactive { 
	color: rgb(var(--calendar-inactive-date));
}

.smalleventcolumn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.smalleventcolumn img {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
}


@media (min-width: 801px) {
	.mobile-days {
		display: none;
	}
	
	.modal .modal-content {
		max-width: 45vw;
	}
	
	.calendar {
		width: 75vw;
	}
	
	.mobile-arrows {
		display: none;
	}

}

@media (max-width: 800px) {
	.desktop-days {
		display: none;
	}
	
	.modal .modal-content {
		max-width: 90vw;
	}
	
	.calendar {
		width: 88vw;
	}
	
	.desktop-arrows {
		display: none;
	}
}