/* Calendar Styles */

.Calendar_Container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Calendar {
	margin-top: 5vh;
	width: 75vw;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 15px;
/*	background-color: #333338AA;*/
	background-color: green;
}

.Calendar_Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.Calendar_Header button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	background-color: #111111;
	color: #818181;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.Calendar_Header button:hover {
	transition: .3s;
	background-color: #080808;
	color: #F1F1F1;
}

.monthYear, .prevBtn, .nextBtn {
	font-size: clamp(1.25rem, 1.5vw + 0.25rem, 2.25rem);
}

.Calendar_Days {
	font-size: clamp(1.125rem, 1vw + 0.25rem, 2rem);
	display: grid;
	grid-template-columns: repeat(7,1fr);
	text-align: center;
	padding: 5px;
}

.Calendar_Dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.date {
	border-style: solid;
	border-radius: 1px;
	color: #F1F1F1;
	height: 12vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.calendarnumber {
	font-size: 2vh;
}

.event-note {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.date a {
	margin: auto;
	font-size: 2vh;
}

.date.inactive{ 
	color: #818181;
}

.wrapper .content article.calendar_title {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 2.5vh;
}

/* Modal window */

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	justify-content: center;
	align-items: center;
}

.modal .modal-content {
	background-color: #444449;
	color: #AABBCC;
	padding: clamp(1rem, 1vw + 0.25rem, 2.25vw);
	border: 1px solid #F1F1F1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 8px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: clamp(1rem, 1vw + 0.125rem, 1.75rem);
}

/* The Close Button */
.close-button {
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 15px;
	width: 30px;
	height: 30px;
	background-color: #111111;
	color: #818181;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.close-button:hover,
.close-button:focus {
	transition: .3s;
	background-color: #080808;
	color: #F1F1F1;
	cursor: pointer;
}

.modal .modal-content ul li {
	list-style: none;
	max-width: 100%
}

.modal .modal-content ul li a {
	text-decoration: none;
	color: #CCCCDD;
}

@media (min-width: 801px) {
	.mobile-days {
		display: none;
	}
	
	.modal .modal-content {
		max-width: 45vw;
	}

}

@media (max-width: 800px) {
	.desktop-days {
		display: none;
	}
	
	.modal .modal-content {
		max-width: 95vw;
	}
}