/* The following are global */
* {
	margin: 0;
	padding: 0;
}

html { 
	background: url("../img/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	scrollbar-gutter: stable;
}

html, body {
	overscroll-behavior: none;
}

.fa {
	font-family: FontAwesome !important;
}

.landing img {
	width: 75%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content {
	transition: opacity 0.3s ease-in-out; /* Smooth transition for initial load and default */
}

.fade-container {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.fade-container.fade-in { 
	opacity: 1;
}

.fade-container.fade-out {
	opacity: 0;
}

.content.fade-out {
	opacity: 0;
}

.content.fade-in {
	opacity: 1;
}

/* End of sidenav styling, now onto the main content. */

/* The following defines the universal style of the contents area */

.wrapper .content {
	margin-left: 12.125vw;
	font-size: 1.25em;
	color: #AABBCC;
	overflow: hidden; /* Some aspect ratios have like, moniscule overflow that's unnoticable but still forces a sidescroll.  This should kill that. */
}

.wrapper .landingimagecontainer {
	height: 100vh;
	max-width: 87.875vw;
}

.wrapper .landingimagecontainer .landingpage {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

body.landing-page-no-scroll {
	overflow: hidden;
}

/* Defines the Article tag for almost all pages. It's
	just a margin container really*/

.wrapper .content article {
	min-height: 60vh;
	background-color: #444444DD;
	padding: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 15vh;
	border-style: solid;
	border-radius: 10px;
	border-color: #AAAAAAAA;
}

/* Style definitions within the article tag */

.wrapper .content article ol {
	list-style-position: inside;
}

.wrapper .content article li {
	text-indent: 2em;
	margin-bottom: 0.25em;
	margin-left: 2em;
	margin-right: 2em;	
}

.wrapper .content article p.title {
	color:#E0AA3E;
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.5em;
	text-indent: 0px;
}

.wrapper .content article p.title::first-letter {
	font-size: 1em;
	font-weight: normal;
}

.wrapper .content article p {
	font-size: 1.25em;
	text-indent: 2em;
	line-height: 1.5;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.wrapper .content article p::first-letter {
	font-size: 1.5em;
}

.wrapper .content a {
	color: #EEEEFF;
	text-decoration: underline;
}

.wrapper .content article a:hover {
	transition: .3s;
	color: #EEEEFF;
}


/* All content disabling for mobile */

#mobile_menu_container {
	display: none;
}

/* Turns off the top menu for mobile */
.wrapper .topnav {
	display: none;
}

.prototype-desktop {
	display: none;
}