.event_boxes {
	gap: 1rem;
	border: 1px solid #ddd;
	padding: 2vh clamp(.5vw, .5vw + .5rem, 10vw);
	margin-bottom: clamp(2vh, 2rem, 4vh);
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);
	background-color: rgba(var(--content-box-background-color),0.667);
	flex-direction: row;
	display: flex;
	align-items: stretch;
}

.upcoming-events {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2vw;
	width: 100%;
    align-items: flex-start;
}

.event_flyer {
	display: flex;
	align-items: stretch;
    justify-content: flex-start;
}

.event_flyer a {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: unset;
	background-color: rgba(var(--nav-background-color-normal), 0.667);
	border-radius: 8px;
	border: 1px solid rgb(var(--primary-border-color));
}

.event_flyer a:hover {
	background-color: rgba(var(--nav-background-color-hover), 0.667);
	border: 1px solid rgb(var(--nav-link-hover-color));
}
	
.event_flyer a img {
	padding: 2px;
	border-radius: 8px;
	object-fit: contain;
	max-width: 12.5vw;
}

.event_boxes i.fa {
	margin: 0;
	text-indent: 0;
}

.meetings {
	flex: 1;
}

.events {
	flex: 1;
}

@media (max-width: 800px) {
	.meetings {
		display: none;
	}
	
	.events {
		display: none;
	}
}

@media (min-width: 801px) {

	.all {
		display: none;
	}
}