.event-display-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.wrapper .content article .smalleventculumn {
	float: left;
	width: 50%;
	text-align: center;
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
}

.pagination-controls button {
    background-color: #333338;
    color: #818181;
    border: 1px solid #818181;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .content article .pasteventbanners:after {
  content: "";
  display: table;
  clear: both;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #080808;
    color: #F1F1F1;
    border: 1px solid #818181;
}

.pagination-controls button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    border-color: #555;
    color: #888;
}

.smalleventbanners {
	height: 59.64vh;
}

.smalleventbanners:after {
    content: "";
    display: table;
    clear: both;
}

.smalleventculumn img {
	border-style: solid;
    border-color: #555;
    max-width: 100%;
	height: auto;
	margin: auto;
    display: block;
}


.event_boxes {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    line-height: 1.6;
	background: #333338AA;
}

.event_boxes img {
	display: block;
	margin: auto;
}

.wrapper .content article .event_boxes p.event_details {
	font-size: 1.125em;
	text-indent: 2em;
	margin-bottom: 0.25em;
	margin-left: 2em;
	margin-right: 2em;
}

.wrapper .content article .event_boxes p.event_details::first-letter {
	font-size: 1.25em;
}

.wrapper .content article .event_boxes p.event_description {
	font-size: 1.25em;
	text-indent: 2em;
	margin-left: 2em;
	margin-right: 2em;
}

.wrapper .content article .event_boxes p.event_description::first-letter {
	font-size: 1.5em;
}

.event_boxes i.fa {
	margin: 0;
	text-indent: 0 !important;
}