/* The following are global */
* {
	margin: 0;
	padding: 0;
}

html { 
	background: none;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	height: 100lvh;
	background: url("../img/background.jpg") no-repeat center center;
	background-size: cover;
	z-index: -1;
	pointer-events: none;
}

html, body {
	overscroll-behavior: none;
}

.fa {
	font-family: FontAwesome !important;
}

.content {
	transition: opacity 0.3s ease-in-out; /* Smooth transition for initial load and default */
}

.fade-container {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.fade-container.fade-in { 
	opacity: 1;
}

.fade-container.fade-out {
	opacity: 0;
}

.content.fade-out {
	opacity: 0;
}

.content.fade-in {
	opacity: 1;
}

/* The following defines the universal style of the contents area */


.wrapper .content {
	font-size: 1.25rem;
	color: #AABBCC;
	overflow: hidden; /* Some aspect ratios have like, moniscule overflow that's unnoticable but still forces a sidescroll.  This should kill that. */
}

@media (min-width: 801px) {
	.wrapper .content {
		margin-left: 12.125vw;
	}
	
	.wrapper .content article {
		margin-left: 10vw;
		margin-right: 10vw;
		margin-top: 5vh;
	}
}

@media (max-width: 800px) {
	.wrapper .content {
	}
		.wrapper .content article {
		margin-left: 2vw;
		margin-right: 2vw;
		margin-top: 15vh;
	}
}

.wrapper .content article {
	min-height: 60vh;
	padding: min(20px, 2vw);
	background-color: #444444DD;
	border-style: solid;
	border-radius: 10px;
	border-color: #AAAAAAAA;
}

/* Style definitions within the article tag */

.wrapper .content article ol {
	list-style-position: inside;
}

.wrapper .content article li {
	text-indent: min(2rem, 2vw);
	margin-bottom: 0.25em;
	color: red;
	margin-left: min(2rem, 2vw);
	margin-right: min(2rem, 2vw);	
}

.wrapper .content article p.title {
	color:#E0AA3E;
	text-align: center;
	font-size: clamp(2.4rem, calc(2.5vw + 0.5rem), 5rem);
	margin-bottom: 0.5em;
	text-indent: 0px;
}

.wrapper .content article p.title::first-letter {
	font-size: 1em;
	font-weight: normal;
}

.wrapper .content article p {
	font-size: clamp(1.25rem, 1.5vw + 0.25rem, 2.25rem);
	text-indent: 2rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.wrapper .content article p::first-letter {
	font-size: clamp(1.5rem, 2vw + 0.25rem, 2.5rem);
}

.wrapper .content a {
	color: #EEEEFF;
	text-decoration: underline;
}

.wrapper .content article a:hover {
	transition: .3s;
	color: #EEEEFF;
}