body.landing-page-no-scroll {
	overflow: hidden;
}

.landing {
	height: 60vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.landing img {
	width: auto;
	object-fit: contain;
}

@media (min-width: 801px) {
	.landing img {
		height: 100%;
		width: auto;
	}
}

@media (max-width: 800px) {
	.landing img {
		height: clamp(40vh, 60vh, 70vh);
		width: auto;
	}
}