/* Settings for the sidenav container */

.wrapper .sidenav {
	font-family: Monaco, monospace;
	position: fixed;
	left: 0;
	top: 0;
	width: 12.125vw;
	height: 100vh;
	background-color: #111111CC;
	padding-top: 2vh;
	z-index: 2;
}

/* Logo for the sidenav */

.wrapper .sidenav h1 {
	width: 100%;
	height: 22.5%;
}

.wrapper .sidenav img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	max-height: 90%;
}

/* Styling for the primary lists in the sidenav */

.wrapper .sidenav ul li {
	list-style: none;
	height: 3vh;
	padding: 5px 0px 5px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	position: relative;
	display: flex;
	align-items: center;
}

.wrapper .sidenav ul li:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* This is for the dropright menus in particular */

.wrapper .sidenav ul li ul {
	margin: 0;
	top: 0;
	position: absolute;
	margin-left: -1px;
	width: 12.125vw;
	min-width: 60px;
	left: 100%;
	background-color: #111111CC;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
}

.sidenav li:hover > ul.dropright {
	visibility: visible;
	opacity: 1;
	transition-delay: 0.3s;
}

/* List link style and hover transition effects */
.wrapper .sidenav a {
	text-decoration: none;
	font-size: clamp(16px, 1.4rem, 22px);
/*	color: #CCCCCC; */
	color: #BB44BB;
	display: block;
	width: 100%
}

.wrapper .sidenav li:hover {
	transition: .3s;
	background-color: #080808AA;
}

.wrapper .sidenav a:hover {	
	transition: .3s;
	color: #F1F1F1;
}

.wrapper .sidenav ul.dropright li:hover {
    background-color: #080808AA;
}

.wrapper .sidenav ul.dropright li:hover > a {
    color: #F1F1F1;
}

.wrapper .sidenav ul li:has(ul.dropright li:hover) {
    background-color: #040404AA;
}

.wrapper .sidenav ul li:has(ul.dropright li:hover) > a {
    color: #F1F1F1; /* Matches .current A text color */
}

/* Makes the currently active page has the same styling as a hover link. */

.wrapper .sidenav li.current {
	background-color: #040404AA;
}

.wrapper .sidenav a.current {
	color: #F1F1F1;
}

/* Social media buttons alignment and styling */

.wrapper .sidenav .socials {
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translate(-50%);
}

.wrapper .sidenav .socials a {
	background-color: #444449;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.wrapper .sidenav .socials a:hover{
	transition: .3s;
	transform: rotate(360deg);
	background-color: #333338;
}

.sidebar-icon {
	margin: 0 auto;
}
