/* Settings for the sidenav container */

.wrapper .sidenav {
	display: none;
	width: 0px;
}

#topnav-container {
	display: block;
}

.topnav-wrapper {
	position: relative;
	width: 100%;
	z-index: 10;
}

.topnav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10dvh;
	background-color: #111111;
	align-items: center;
	justify-content: space-between;
	z-index: 20;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-button-box, .logo-box {
	width: auto;
	padding: 0 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-button-box {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-box img, .menu-button-box img {
	max-height: 10dvh;
	object-fit: contain;
	cursor: pointer;
}

.dropdown-menu {
	font-family: Monaco, monospace;
	position: absolute;
	top: 10dvh;
	left: 0;
	display: none;
	background-color: #111111;
	width: 100%;
	z-index: 15;
}

.dropdown-menu a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 7dvh;
	font-size: 2.8dvh;
	flex-shrink: 0;
	padding: 0 8px;
	cursor: pointer;
}

.has-submenu > a {
	padding-left: 8px;
	padding-right: 0;
}

.has-submenu > a > .down-arrow {
	margin-right: 16px;
}

.dropdown-menu a[href] {
	color: #F1F1F1;
}

.dropdown-menu a:not([href]) {
	color: #CCCCCC;
}

.dropdown-menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.dropdown-menu ul li {
	display: flex;
	flex-direction: column;
	min-height: 7dvh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0;
}

.dropdown li.no-submenu {
	background-color: #040404;
}

li.no-submenu {
	background-color: #040404;
	color: #CCCCCC;
}

li.has-submenu {
	background-color: #111111;
	color: #F1F1F1;
}

.dropdown-menu.open {
	display: block;
}

.dropdown {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.dropdown.open {
	display: block;
}