/* Settings for the sidenav container */

.wrapper .sidenav {
	display: none;
	width: 0px;
}

.wrapper .topnav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: #111111CC;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.wrapper .topnav .hamburger {
	color: #CCCCCC;
}

.mobile-logo {
	height: 7vh;
	max-width: 20vw;
	width: auto;
	object-fit: contain;
	flex-shrink: 1;
    }