/* Settings for the sidenav container */

.wrapper .sidenav {
	display: none;
	width: 0px;
}

#topnav-container {
	display: block;
}

.topnav-wrapper {
    position: relative;
    width: 100%;
    z-index: 10; /* keeps nav above content */
}

.topnav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: #111111CC;
	align-items: center;
	justify-content: space-between;
	z-index: 20;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-button-box, .logo-box {
    width: 15vw;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box img, .menu-button-box img {
	max-height: 80%;
	width: auto;
}

.dropdown-menu {
    position: absolute;
    top: 10vh;
    left: 0;
	display: none;
    background-color: #111111CC;
	width: 100%;
	z-index: 15;
}

.dropdown-menu a {
	text-decoration: none;
	font-size: 2.8vh;
	color: #CCCCCC;
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	height: 100%;
}

.dropdown-menu ul li {
    height: auto;
    min-height: 8vh;
}

.dropdown-menu.open {
    display: block;
}

.dropdown {
    display: none;
}

.dropdown.open {
    display: block;
}