* {
	margin: 0;
	padding: 0;
}

body {
    background-image: url("img/background_grayscale.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* fade effect for pages loading */

.content {
	opacity: 1;
	transition: opacity 0.3s ease-in-out; /* Smooth transition for initial load and default */
}

.content.fade-out {
	opacity: 0;
}

.content.fade-in {
	opacity: 1;
}

/* Settings for the sidenav container */

.wrapper .sidenav {
	font-family: Monaco, monospace;
	position: fixed;
	left: 0;
	top: 0;
	width: 12.125vw;
	height: 100vh;
	background-color: #111111CC;
	padding-top: 2vh;
	z-index: 2;
}

/* Logo for the sidenav */

.wrapper .sidenav h1 {
	width: 100%;
	height: 22.5%;
}

.wrapper .sidenav img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	max-height: 90%;
}

/* Styling for the primary lists in the sidenav */

.wrapper .sidenav ul li {
	list-style: none;
	height: 3vh;
	padding: 5px 0px 5px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	position: relative;
	display: flex;
	align-items: center;
}

.wrapper .sidenav ul li:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* This is for the dropright menus in particular */

.wrapper .sidenav ul li ul {
	margin: 0;
	top: 0;
	position: absolute;
	margin-left: -1px;
	width: 12.125vw;
	left: 100%;
	background-color: #111111CC;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
}

.sidenav li:hover > ul.dropright {
	visibility: visible;
	opacity: 1;
	transition-delay: 0.3s;
}

/* List link style and hover transition effects */
.wrapper .sidenav a {
	text-decoration: none;
	font-size: 2.9vh;
	color: #CCCCCC;
	display: block;
	width: 100%
}

.wrapper .sidenav li:hover {
	transition: .3s;
	background-color: #080808AA;
}

.wrapper .sidenav a:hover {	
	transition: .3s;
	color: #F1F1F1;
}

.wrapper .sidenav ul.dropright li:hover {
    background-color: #080808AA;
}

.wrapper .sidenav ul.dropright li:hover > a {
    color: #F1F1F1;
}

.wrapper .sidenav ul li:has(ul.dropright li:hover) {
    background-color: #040404AA;
}

.wrapper .sidenav ul li:has(ul.dropright li:hover) > a {
    color: #F1F1F1; /* Matches .current A text color */
}

/* Makes the currently active page has the same styling as a hover link. */

.wrapper .sidenav li.current {
	background-color: #040404AA;
}

.wrapper .sidenav a.current {
	color: #F1F1F1;
}

/* Social media buttons alignment and styling */

.wrapper .sidenav .socials {
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translate(-50%);
}

.wrapper .sidenav .socials a {
	background-color: #444449;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.wrapper .sidenav .socials a:hover{
	transition: .3s;
	transform: rotate(360deg);
	background-color: #333338;
}

.wrapper .sidenav .socials a i{
	margin: 0 auto;
}

/* End of sidenav styling, now onto the main content. */

/* The following defines the universal style of the contents area */

.wrapper .content {
	margin-left: 12.125vw;
	font-size: 1.25em;
	color: #AABBCC;
	overflow: hidden; /* Some aspect ratios have like, moniscule overflow that's unnoticable but still forces a sidescroll.  This should kill that. */
}

.wrapper .landingimagecontainer {
	height: 100vh;
	max-width: 87.875vw;
}

.wrapper .landingimagecontainer .landingpage {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

body.landing-page-no-scroll {
	overflow: hidden;
}

/* Defines the Article tag for almost all pages. It's
	just a margin container really*/

.wrapper .content article {
	min-height: 60vh;
	background-color: #444449DD;
	padding: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 15vh;
	border-style: solid;
}


.wrapper .content article.calendar_title {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 2.5vh;
}

/* Style definitions within the article tag */

.wrapper .content article .title {
	color:#E0AA3E;
	text-align: center;
	font-size: 1.25em;
}

.wrapper .content a {
	color: #EEEEFF;
	text-decoration: underline;
}

.wrapper .content article a:hover {
	transition: .3s;
	color: #EEEEFF;
}

/* Now we get to the more interesting bits. From here, I'm defining styles for the specialized individual pages. */

/*	This is just prototype content for the calendar.  It's currently just a Google calender, will likely change that in the future.*/

.prototype-desktop {
	position: relative;
	text-align: center;	
}

.prototype-mobile {
	display: none;
}

.Calendar_Container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Calendar {
	margin-top: 2.5vh;
	width: 75vw;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 10px;
	background-color: #333338;
}

.Calendar_Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.Calendar_Header button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	background-color: #111111;
	color: #818181;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.Calendar_Header button:hover {
	transition: .3s;
	background-color: #080808;
	color: #F1F1F1;
}

.Calendar_Days {
	display: grid;
	grid-template-columns: repeat(7,1fr);
}

.Calendar_Day {
	text-align: center;
	padding: 5px;
}

.Calendar_Dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.date {
	border-style: solid;
	border-radius: 1px;
	color: #F1F1F1;
	height: 12vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.calendarnumber {
	font-size: 2vh;
}

.event-note {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.date a {
	margin: auto;
	font-size: 2vh;
}

.date.inactive{ 
	color: #818181;
}
/* Picture containers for staff and previous titleholders */

.staffpictures {
	width: 25%;
	height: 30vh;
	float: left;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.staffpictures img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.staff-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 5vh;
}

/* Picture containers for the current titleholder.  These are deliberately larger than the staff pictures because I expect only one titleholder at a time*/

.titleholder-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 5vh;
}

.titleholderpictures {
	float: left;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.titleholderpictures img {
	max-width: 100%;
}

/* Containers for upcoming events. */
/* This is very much a work in progress.  The ideal here is a javascript that automates this stuff. */


/* Containers for past events. */
/* This is a work in progress, similar to upcoming events.  These will be smaller because I expect more on the screen.*/

.event-display-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.wrapper .content article .smalleventculumn {
	float: left;
	width: 50%;
	text-align: center;
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
}

.pagination-controls button {
    background-color: #333338;
    color: #818181;
    border: 1px solid #818181;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .content article .pasteventbanners:after {
  content: "";
  display: table;
  clear: both;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #080808;
    color: #F1F1F1;
    border: 1px solid #818181;
}

.pagination-controls button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    border-color: #555;
    color: #888;
}

.smalleventbanners {
	height: 59.64vh;
}

.smalleventbanners:after {
    content: "";
    display: table;
    clear: both;
}

.smalleventculumn img {
	border-style: solid;
    border-color: #555;
    max-width: 100%;
	height: auto;
	margin: auto;
    display: block;
}

/* All content disabling for mobile */

#mobile_menu_container {
	display: none;
}

/* Turns off the top menu for mobile */
.wrapper .topnav {
	display: none;
}

.prototype-desktop {
	display: none;
}

/* Styling for the affiliate links page */

.affiliate_container {
margin-top: 2vh;
height: 9vh;
display: flex;
padding-bottom: 5px;
border-bottom: 5px solid #111111;
}

.affiliate_picture {
	margin-top: auto;
	margin-bottom: auto;
	max-height: 8vh;
	max-width: 8vh;
}

.affiliate_picture img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.affiliate_title {
	padding-left: 2vw;
	margin-top: auto;
	margin-bottom: auto;
}

.affiliate_container:hover {
transition: .3s;
border-bottom: 5px solid;
border-bottom-color: #080808;
}

/* modal style */

.modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top of everything */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	justify-content: center;
	align-items: center;
}

/* Modal Content */
.modal-content {
	background-color: #444449;
	color: #AABBCC;
	padding: 20px;
	border: 1px solid #F1F1F1;
	width: 80%;
	max-width: 35vw;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 8px;
	position: relative;
	min-height: 100px; /* Give it a little height */
	display: flex;
	flex-direction: column; /* Arrange children in a column */
	justify-content: center; /* Vertically center content when flex-direction is column */
	align-items: center; /* Horizontally center content when flex-direction is column */
}

/* The Close Button */
.close-button {
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 15px;
	width: 30px;
	height: 30px;
	background-color: #111111;
	color: #818181;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.close-button:hover,
.close-button:focus {
	transition: .3s;
	background-color: #080808;
	color: #F1F1F1;
	cursor: pointer;
}

.modal-content ul {
	padding-left: 10%;
	padding-right: 10%;
}

.modal-content ul li {
	list-style: none;
}

.modal-content ul li a {
	text-decoration: none;
	color: #CCCCDD;
}

/* In your desktop_style.css or mobile_style.css */
.divided_boxes {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    line-height: 1.6;
	background: #333338;
	display: flex;
}

.divided_boxes img {
	display: block;
    margin: 0 auto;
    font-size: 1.5em;
    padding-bottom: 10px;
	width: 40vw;	
}

.divided_boxes p {
    margin-bottom: 8px;
}

.divided_boxes a {
    color: #007bff;
    text-decoration: none;
}

.divided_boxes a:hover {
    text-decoration: underline;
}

.unified_box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    line-height: 1.6;
	background: #333338;
	display: flex;
}

.unified_box img {
	display: block;
    font-size: 1.5em;
	width: 40vw;	
	vertical-align: middle;
}