* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #444449; /* Global gray background, overriden by specific sections later */
}

/* Settings for the sidenav container */

.wrapper .sidenav {
	font-family: Monaco, monospace;
	position: fixed;
	left: 0;
	top: 0;
	width: 12.125vw;
	height: 100vh;
	background-color: #111111;
	padding-top: 2vh;
}

/* Logo for the sidenav */

.wrapper .sidenav h1 {
	width: 100%;
	height: 22.5%;
}

.wrapper .sidenav img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	max-height: 90%;
}

/* Styling for the primary ists in the sidenav */

.wrapper .sidenav ul li {
	list-style: none;
	height: 3vh;
	padding: 5px 0px 5px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin: 0;
	position: relative;
	display: flex;
	align-items: center;
}

/*  Further hackery.  I'm sure there's a properly refined way to do this, but fuck if I know what it is.
	This makes the last blank line in the unordered list in the menu look mostly invisible,
	while keeping the transparent border effect.*/

.wrapper .sidenav ul li:last-child {
	list-style: none;
	border-bottom: none;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin: 0;
}

/* This is for the dropright menus in particular */

.wrapper .sidenav ul li ul {
	margin: 0;
	top: 0;
    position: absolute;
	width: 12.125vw;
    left: 100%;
	background-color: #111111;
	display: none;
}

.sidenav li:hover > ul.dropright {
	display: block;
}

/* List link style and hover transition effects */
.wrapper .sidenav a {
  text-decoration: none;
  font-size: 2.9vh;
  color: #818181;
  display: block;
  width: 100%
}

.wrapper .sidenav li:hover {
	transition: .3s;
	background-color: #080808;
}

.wrapper .sidenav a:hover {	
	transition: .3s;
	color: #F1F1F1;
}

/* Makes the currently active page has the same styling as a hover link. */

.wrapper .sidenav li.current {
	background-color: #040404;
}

.wrapper .sidenav a.current {
	color: #F1F1F1;
}

/* Social media buttons alignment and styling */

.wrapper .sidenav .socials {
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translate(-50%);
}

.wrapper .sidenav .socials a{
	background-color: #444449;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.wrapper .sidenav .socials a:hover{
	transition: .3s;
	transform: rotate(360deg);
	background-color: #333338;
}

.wrapper .sidenav .socials a i{
	margin: 0 auto;
}

/* End of sidenav styling, now onto the main content. */

/* The following defines the universal style of the contents area */

.wrapper .content {
	margin-left: 12.125vw;
	font-size: 1.25em;
	color: #AABBCC;
	overflow: hidden; /* Some aspect ratios have like, moniscule overflow that's unnoticable but still forces a sidescroll.  This should kill that. */
}

/* Defines the Article tag for almost all pages. It's
	just a margin container really*/

.wrapper .content article {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 15vh;
}

/* Style definitions within the article tag */

.wrapper .content article .title {
	color:#E0AA3E;
	text-align: center;
	font-size: 1.25em;
}

.wrapper .content article a {
	color: #CCCCDD;
}

.wrapper .content article a:hover {
	transition: .3s;
	color: #EEEEFF;
}

/* Now we get to the more interesting bits. From here, I'm defining styles for the specialized individual pages. */

/*	This is just prototype content for the calendar.  It's currently just a Google calender, will likely change that in the future.*/

.prototype-desktop {
	position: relative;
	text-align: center;	
}

.prototype-mobile {
	display: none;
}

/* Picture containers for staff and previous titleholders */

.staff-box {
	min-height: 30vh;
	margin-bottom: 5vh;
}

.staff-title {
	color: #AABBCC;
}

.staffpictures {
    width: 25%;
	height: 30vh;
    float: left;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.staffpictures img {
	object-fit: contain;
	display: block;
	margin: auto;
}

/* Picture containers for the current titleholder.  These are deliberately larger than the staff pictures because I expect only one titleholder at a time*/

.wrapper .content article .titleholderpictures {
	width: 35%;
	height: 350px;
    float: left;
}

.wrapper .content article .titleholderpictures img {
	object-fit: contain;
}

.wrapper .content article .titleholder-title {
    width: 65%;
    float: left;
}

.wrapper .content article .titleholder-box {
    width: 65%;
    float: left;
}

/* Containers for upcoming events. */
/* This is very much a work in progress.  The ideal here is a javascript that automates this stuff. */

.wrapper .content article img {
	display: block;
	width: 50vw;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

/* Containers for past events. */
/* This is a work in progress, similar to upcoming events.  These will be smaller because I expect more on the screen.*/

.wrapper .content article .pasteventculumn {
	float: left;
	width: 50%;
}

.wrapper .content article .pasteventbanners:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper .content article .pasteventculumn img {
	border-style: solid;
	text-align: center;
	max-width: 90%;
	max-height: 90%;
}

/* All content disabling for mobile */

/* Turns off the top menu for mobile */
.wrapper .topnav {
	display: none;
}