/* Keeps mobile browsers from arbitrarily resizing text */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	background-color: #444449; /* Global gray background, overriden by specific sections later */
	font-size: 1em;
}

/* Disable sidenav from mobile */

.sidenav {
  display: none;
}

/* Top navigation pane */
.topnav {
	font-family: Monaco, monospace;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111111;
}

.topnav-container {
	height: 50px;
	width: 100%;
	display: flex;
}

/* Dropdown container */
.top-left {
	flex: 33.33%;
	width: 50px;
	height: 50px;
}

.top-left img {
	max-height: 50px;
}

/* Logo container */
.top-right {
	flex: 0.083%;
	text-align: right;
	width: 50px;
	height: 50px;
}

.top-right img {
	max-height: 48px;
	padding: 1px;
}

/* Definition for the dropdown list */
.menulist {
	position: absolute;
	width: 99%;
	top: 33px;
	left: 0;
	z-index: 1;
	display: none;
}


.menulist ul {
	padding: 0;
    list-style-type: none;
}

.menulist li {
	height: 6vh;
	background-color: #111111;
	width: 100%;
	list-style-type: none;
	padding-left: 3px;
	border-style: solid;
	border-color: #CCCCDD;
	border-top: none;
	display: flex;
	align-items: center;
}

.menulist a {
	font-size: 3vh;
	color: #CCCCDD;
	text-decoration: none;
	display: block;
	margin: auto;
	width: 100%;
}

.topnav a:hover {	
	transition: .3s;
	color: #F1F1F1;
}

/* The following defines the universal style of the contents area */

.content article {
	margin-top: 50px;
	color: #BBBBBB;
	margin-left: 10%;
	margin-right: 10%;
}

.content article a {
	color: #CCCCDD;
}

.title {
	color:#E0AA3E;
	position: relative;
	text-align: center;
	font-size: 1.25em;
}


/* Titleholder styling */
.container {
	display: flex;
	flex-direction: column
}

.titleholder-title {
	order: 1;
	text-align: center;
}

.titleholderpictures {
	order: 2;
	height: 60vh;
}

.titleholderpictures img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.titleholder-box {
	order: 3;
	color: #AABBCC;
	margin: auto;
}

/* Containers for current titleholders.  These are deliberately larger than the staff pictures because I expect only one titleholder at a time*/

/* This is specifically for the prototype Google calendar.  Will delete when I have a javascript one. */
.prototype-mobile {
	position: relative;
	text-align: center;	
}

.prototype-desktop {
	display: none;
}

/* Picture containers for staff and previous titleholders */

.staff-box {
	min-height: 120px;
	margin-bottom: 5%;
	font-size: .75em;
}

.staff-title {
	color: #AABBCC;
}

.staffpictures {
    width: 25%;
    float: left;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.staffpictures img {
	max-width: 100%;
	max-height: 120px;
	display: block;
	margin: auto;
}


/* Containers for upcoming events. */
/* This is very much a work in progress.  The ideal here is a javascript that automates this stuff. */

.futureeventbanner img {
	border-style: solid;
	width: 90%;
	height: 180px;
    float: left;
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}

/* Containers for past events. */
/* This is a work in progress, similar to upcoming events.  These will be smaller because I expect more on the screen.*/

.pasteventculumn {
	float: left;
	width: 50%;
}

.pasteventbanners:after {
  content: "";
  display: table;
  clear: both;
}

.pasteventculumn img {
	border-style: solid;
	text-align: center;
	max-width: 90%;
	max-height: 90%;
}

/* upcoming event banners */
.content article .eventbanner {
	width: 100%;
	display: block;
	margin: auto;
	margin-top: 5%;
}	

/* Social media links */

.socials {
	margin: 0 auto;
}

.socials a{
	background-color: #444449;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	display: flex;
	align-items: center;
}

.socials a:hover{
	transition: .3s;
	transform: rotate(360deg);
	background-color: #333338;
}

.socials a i{
	margin: 0 auto;
}