body {
	background-color: #444449; /* Global gray background, overriden by specific sections later */
}

/* Disable sidenav from mobile */

.sidenav {
  display: none;
}

/* Top navigation menu for mobile */
.topnav {
	font-family: Monaco, monospace;
	height: 10vh;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111111;
}

/* Definitions for images in the topnav bar */
.topnav-container {
	display: flex;
}

.top-left {
	flex: 33.33%;
}

.top-left img {
	max-height: 100%;
}

.top-right {
	flex: 0.083%;
	text-align: right;
}

.top-right img {
	max-height: 98%;
	padding: 1px;
}

/* Dropdown menu */

.menulist {
	position: absolute;
	width: 99%;
	top: 33px;
	left: 0;
	z-index: 1;
	display: none;
}


.menulist ul {
	padding: 0;
    list-style-type: none;
}

.menulist li.firstitem {
	height: 50px;
	background-color: #111111;
	width: 100%;
	list-style-type: none;
	border-style: solid;
	border-color: #CCCCDD;
}

.menulist li {
	height: 50px;
	background-color: #111111;
	width: 100%;
	list-style-type: none;
	padding-left: 3px;
	border-style: solid;
	border-color: #CCCCDD;
	border-top: none;
}

.menulist a {
	color: #CCCCDD;
	text-decoration: none;
	vertical-align: middle;
	line-height: 50px;
}

/* The following defines the universal style of the contents area */

.content {
	position: fixed;
	width: 95%;
	top: 50px;
	font-size: 1em;
	color: #BBBBBB;
	display: block;
}

.content a {
	color: #CCCCDD;
}

.title {
	color:#E0AA3E;
	position: relative;
	text-align: center;
	font-size: 1.25em;

}
.container {
	display: flex;
	width: 100%;
}

/* This is specifically for the prototype Google calendar.  Will delete when I have a javascript one. */
.prototyping {
	position: relative;
	text-align: center;	
}

/* Picture containers for staff and previous titleholders */

.staffpictures {
    width: 25%;
	height: 250px;
    float: left;
	text-align: center;
}

.staffpictures img {
  max-width: 100%;
  max-height: 100%;
}

.staff-box {
    width: 75%;
    float: left;
	color: #AABBCC;
}

/* Containers for current titleholders.  These are deliberately larger than the staff pictures because I expect only one titleholder at a time*/

.titleholderpictures {
	width: 35%;
	height: 350px;
    float: left;
	text-align: center;
}

.titleholderpictures img {
  max-width: 100%;
  max-height: 100%;
}

.titleholder-box {
    width: 65%;
    float: left;
	color: #AABBCC;
}

/* Containers for upcoming events. */
/* This is very much a work in progress.  The ideal here is a javascript that automates this stuff. */

.futureeventbanner img {
	border-style: solid;
	width: 90%;
	height: 180px;
    float: left;
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}

/* Containers for past events. */
/* This is a work in progress, similar to upcoming events.  These will be smaller because I expect more on the screen.*/

.pasteventculumn {
	float: left;
	width: 50%;
}

.pasteventbanners:after {
  content: "";
  display: table;
  clear: both;
}

.pasteventculumn img {
	border-style: solid;
	text-align: center;
	max-width: 90%;
	max-height: 90%;
}

/* Social media links */

.socials {
	position: absolute;
	width: 200px;
	bottom: 50px;
	display: flex;
	justify-content: center;
}

.socials a {
	  padding: 10px 0px 10px 0px;
}

.fa {
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
}

.fa-facebook {
	background: #444449;
	color: white;
}